.recipe-container {
  /* background: #1f4037; fallback for old browsers */
  /* background: -webkit-linear-gradient(to right, #99f2c8, #1f4037); Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(to right, #99f2c8, #1f4037); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  max-height: 100%;
  max-width: 50%;
  margin: 1rem;
  padding: 1rem;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px solid black;
}
